*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #151515;
    color:#eeeeee;
}
body, button, input{
    font-family:'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    color: #eeeeee;
}
a:hover{
    color: #eeeeee;
}
/*buttons*/
button{
    width: max-content;
    padding: 8px 16px;
    font-weight: 700;
    transition: all 0.2s ease-in;
}
.t-p-btn{
    background-color: #51c4d300;
    border: 2px solid #51c4d3;
    color: #51c4d3;
}
.t-p-btn:hover{
    background-color: #51c4d341;
}
.t-s-btn{
    background-color: #eeeeee00;
    border: 2px solid #eeeeee;
    color: #eeeeee;
}
.t-s-btn:hover{
    background-color: #eeeeee2d;
}
/* NavBar */
.t-navBar{  
    z-index: 3;
    font-weight: 500;
    background-color: #15151500;
    transition: 0.4s ease;
}
.t-navbaractive{
    background-color: #151515;
    box-shadow: 0px 10px 20px rgba(0,0,0,.5);
}
.t-navList li.t-navLink{
    list-style: none;
    cursor: pointer;
}

.t-landing{
    height: 100vh;
}

.t-works{
    overflow: hidden;
}
.t-work-wrapper{
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: all 0.4s cubic-bezier(.03,.98,.52,.99);
}
.t-work-wrapper:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}
.t-gradiant-1{
    background-image: linear-gradient(135deg, #ed6ea0 10%, #ec8c69 90%);
}
.t-gradiant-2{
    background-image: linear-gradient(315deg, #82c91e 5%, #38d9a9 95%);
}
.t-gradiant-3{
    background-image: linear-gradient(45deg, #7950f2 5%, #4dabf7 95%);
}

.t-mockup-large{
    height: 300px;
    filter: drop-shadow(22px 12px 7px rgba(0,0,0,.5));
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(.03,.98,.52,.99);
}
.t-mockup-small{
    height: 260px;
    filter: drop-shadow(22px 12px 7px rgba(0,0,0,.5));
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(.03,.98,.52,.99);
}

/* Light mode Check */
@media (prefers-color-scheme: light) {
    body{
        background-color: #eeeeee;
        color: #151515;
    }
    a, a:hover{
        color:#151515; 
    }
    /*buttons*/
    .t-p-btn{
        background-color: #126e8200;
        border: 2px solid #126e82;
        color: #126e82;
    }
    .t-p-btn:hover{
        background-color: #126e8241;
    }
    .t-s-btn{
        background-color: #15151500;
        border: 2px solid #151515;
        color: #151515;
    }
    .t-s-btn:hover{
        background-color: #1515152f;
    }
    .t-navbar{
        background-color: #eeeeee00;
    }
    .t-navbaractive{
        background-color: #eeeeee;
        box-shadow: 0px 2px 40px #15151515;
    }
}