*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 0px;
}
*{
    scrollbar-width: none;
}

/* Fonts */
@font-face{
    font-family: "Polly";
    src: url(../../assets/fonts/Polly/Polly-Bold.otf);
    font-weight: 600;
}
@font-face{
    font-family: "Polly";
    src: url(../../assets/fonts/Polly/Polly-Regular.otf);
    font-weight: 400;
}
@font-face{
    font-family: "Poppins";
    src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
}
@font-face{
    font-family: "Poppins";
    src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #151515;
    color:#eeeeee;
}
body, button, input{
    font-family: 'Polly', sans-serif;
}
a{
    text-decoration: none;
    color: #eeeeee;
}
a:hover{
    color: #eeeeee;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
h1,h2,h3,h4,h5,h6{font-weight: 600;}
button{
    font-weight: 600;
    width: max-content;
    padding: 8px 16px;
    background: #00000000;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in;
}
.t-logo{
    width: 32px;
    height: 32px;
}
.t-logo img{
    width: 32px;
    height: 32px;
}
/* NavBar */
.t-navBar{  
    z-index: 3;
    font-weight: 400;
    background-color: #15151500;
    transition: 0.6s ease;
    opacity: 1;
}
.t-nav-fade{
    opacity: 0;
}
.t-navbaractive{
    background-color: #151515;
    box-shadow:  -6px -6px 16px #0e0e0e,
             6px 6px 13px #141414;
}
.t-navList li.t-navLink{
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.t-cover, .t-works{ min-height: 100vh;}
.t-tesseract-wrapper{
    perspective: 1000px;
    perspective-origin: 50% 4%;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 4%;
    -moz-perspective: 1000px;
    -moz-perspective-origin: 50% 4%;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    opacity: 1;
}
.tesseract{
    position: relative;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: 0.3s ease;
}
.tesseractAnime{
    animation: sceneRotate 30s infinite linear;
}
@keyframes sceneRotate {
    to {
      transform: rotateY(360deg);
    }
}
.tesseractPosition{
    transform: rotateX(-6deg) rotateY(20deg);
}
.t-outer-cube{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: -50px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.t-outer-cube div{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    background-color: #2a9df4de;
    box-shadow: 0 0 50px #2e3199 inset;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.t-outer-cube .front { 
    transform: translateZ(50px); 
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
}
.t-outer-cube .right {
    transform: rotateY(90deg) translateZ(50px); 
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
}
.t-outer-cube .back { 
    transform: rotateY(180deg) translateZ(50px); 
    -webkit-transform:rotateY(180deg) translateZ(50px);
    -moz-transform:rotateY(180deg) translateZ(50px);
}
.t-outer-cube .left {
    transform: rotateY(270deg) translateZ(50px); 
    -webkit-transform:rotateY(270deg) translateZ(50px);
    -moz-transform:rotateY(270deg) translateZ(50px);
}
.t-outer-cube .top, .t-outer-cube .bottom{
    width: 100px;
    height: 100px;
}
.t-outer-cube .top{ 
    transform: rotateX(90deg) translateZ(50px); 
    -webkit-transform:rotateX(90deg) translateZ(50px);
    -moz-transform:rotateX(90deg) translateZ(50px);
}
.t-outer-cube .bottom{
    bottom: 0;
    transform: rotateX(270deg) translateZ(50px);
    -webkit-transform:rotateX(270deg) translateZ(50px);
    -moz-transform:rotateX(270deg) translateZ(50px);
}
.t-inner-cube{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: -25px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.t-inner-cube div{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #1bffff;
    box-shadow: 0 0 50px #2e3199 inset;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.t-inner-cube .front { transform: translateZ(25px); }
.t-inner-cube .right { transform: rotateY(90deg) translateZ(25px); }
.t-inner-cube .back { transform: rotateY(180deg) translateZ(25px); }
.t-inner-cube .left { transform: rotateY(270deg) translateZ(25px); }
.t-inner-cube .top, .t-inner-cube .bottom{
    width: 50px;
    height: 50px;
}
.t-inner-cube .top{ transform: rotateX(90deg) translateZ(25px); }
.t-inner-cube .bottom{
    bottom: 0;
    transform: rotateX(270deg) translateZ(25px);
}
.t-tesseract-glow{
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-image: url(../images/tesserat/glow.png);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.t-text{
    width: 50vw;
    transform: translateY(0);
    opacity: 1;
    transition: transform 2s ease-out, opacity 0.6s ease;
}
.t-cover-scroll{
    transform: translateY(40px);
    opacity: 0;
}
.t-cover h1, .t-cover h3, .t-cover h5{ font-family: 'Poppins', sans-serif;}
.t-cover h3{
    font-size: 30px;
    font-weight: 900;
}
.t-cover h1{
    color: #fff;
    font-size: 62px;
    font-weight: 900;
}
.t-cover h5, .t-cover h3{ color: #eee9}
.t-cover h5{font-weight: 700;}
.t-p-btn{
    border: 2px solid #2a9df4;
    background: #2a9df4;
    color: #151515;
}
.t-p-btn:hover{
    background: #2a9df420;
    color: #2a9df4;
}
.t-s-btn{
    border: 2px solid #dddddd;
    background: #dddddd00;
    color: #dddddd;
}
.t-works{overflow: hidden;}
.t-s-btn:hover{
    background: #dddddd20;
}
.t-works-carousel-wrapper{
    overflow: hidden;
    min-height: 500px;
}
.t-works-carousel{
    width: 4750px;
    height: 500px;
    perspective-origin: 50% 4%;
    -webkit-perspective-origin: 50% 4%;
    perspective: 1000;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}
.t-works-card-wrapper{
    width: 920px;
    transform-style: preserve-3d;
    margin: 0 15px;
    transition: 0.3s ease;
}
.t-works-card-wrapper .t-card-content{
    box-shadow:-10px -10px 22px #212121,
    10px 10px 22px #191919;
    transform-style: preserve-3d;
    transition: 0.3s ease;
}
.t-works-card-wrapper div{opacity: 1; transition: 0.3s ease;}
.t-works-card-wrapper h3{
    font-weight: 600;
}
.t-works-card-wrapper p{
    font-size: clamp(14px, 1rem, 16px);
}
.t-mockup-wrapper{
    height: 100%;
}
.t-mockup-wrapper img{ 
    width: 80%; 
    transform: translateZ(20px);
    transform-style: preserve-3d;
    transition: 0.5s cubic-bezier(.03,.98,.52,.99);
}
.t-greenisis .t-mockup-wrapper{background: linear-gradient(225deg, #82c91e 5%, #38d9a9 95%); }
.t-inches-new .t-mockup-wrapper{background: linear-gradient(45deg, #fd7e14 5%, #ffd43b 95%);}
.t-inches .t-mockup-wrapper{background: linear-gradient(225deg, #7950f2 5%, #4dabf7 95%);}
.t-btns-wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.t-btns-wrapper button{
    color: #fff;
    font-size: 2rem;
    pointer-events: all;
}
.t-card-inactive{
    width: 700px;
    height: max-content;
    background: #202020;
}
.t-card-inactive .t-card-content{box-shadow:  0px 10px 30px rgba(0,0,0,.4);}
.t-card-inactive div{opacity: 0.4;}
.t-card-active{
    transition: 0.5s cubic-bezier(.03,.98,.52,.99);
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
}
.t-card-active .t-card-text{
    height: 100%;
    transform: translateZ(20px);
    transform-style: preserve-3d;
}
.t-stack.t-stack-html{background-image: url(../../assets/images/icons/html.svg);}
.t-stack.t-stack-css{background-image: url(../../assets/images/icons/css.svg);}
.t-stack.t-stack-js{background-image: url(../../assets/images/icons/js.svg);}
.t-stack.t-stack-react{background-image: url(../../assets/images/icons/react.svg);}
.t-stack.t-stack-sass{background-image: url(../../assets/images/icons/sass.svg);}
.t-stack.t-stack-node{background-image: url(../../assets/images/icons/node.svg);}
.t-stack.t-stack-ps{background-image: url(../../assets/images/icons/Ps.svg)}
.t-stack.t-stack-il{background-image: url(../../assets/images/icons/Ai.svg)}
.t-stack-container{
    transform-style: preserve-3d;
    transform: translateZ(-20px);
}
.t-stack{
    transform-style: preserve-3d;
    border-radius: 40px;
    padding: 8px 16px;
    background-position: 8px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 32px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 4px;
    box-shadow:-4px -4px 12px #212121,
    4px 4px 12px #191919;
    float: left;
}
.t-about{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.t-about-text{
    margin-right: 7vw;
    width: 40vw;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke:2px #eee;
    -webkit-text-fill-color: #eee0;
}
.t-about-text a{
    text-decoration: underline;
    color: #bbb;
    transition: 0.3s ease;
}
.t-about-text p, .t-about-text h2, .t-about-text a{text-shadow: 2px 2px 6px #0004;}
.t-about-text a:hover{
    color: #ddd;
}
.t-skills-wrapper{margin: 0 -8px}
.t-about-text .t-stack{
    background-color: #151515;
    transform-style: unset;
    font-size: 14px;
    text-transform: capitalize;
    margin: 8px 6px;
    box-shadow:-4px -4px 12px #212121,
    4px 4px 12px #191919;
    background-position: 10px center;
}
.t-image-container{
    top: 50%;
    left: 7vw;
    transform: translateY(-50%);
}
.t-sketch{
    width: 480px;
    filter: drop-shadow(40px 40px 80px #0004);
    transition: filter 0.5s ease-out;
}
.t-sketch:hover{
    filter: drop-shadow(40px 40px 80px #0006);
}
.t-sketch-bg{
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 440px;
    border-radius: 320px;
    background-image: linear-gradient(315deg, #228be6 5%, #3bc9db 95%);
    filter: drop-shadow(40px 40px 80px #0006);
    transition: filter 0.5s ease-out;
}
.t-sketch-bg:hover{
    filter: drop-shadow(40px 40px 80px #000a);
}
.t-contact-wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.t-contact{
    max-width: 50vw;
}
.t-input-wrap{
    padding-top: 30px;
    width: 100%;
    margin: 8px 0;
}
.t-input-wrap input, .t-input-wrap textarea{
    width: 100%;
    background-color: #0000;
    color: #151515;
    padding: 12px 16px;
    border: 1px solid #eee;
}
.t-input-wrap input:focus, .t-input-wrap textarea:focus{border: 1px solid #eee; outline: none;}
.t-input-wrap label{
    top: 0;
    left: 0;
}
.t-footer{
    width: 100vw;
    background: #151515;
    color: #333;
    bottom: 0;
    left: 0;
    box-shadow:  -6px -6px 16px #0e0e0e,
             6px 6px 13px #141414;
}
.t-logo-light{display: none;}
/* Light mode Check */
@media (prefers-color-scheme: dark) {
    body{
        background-color: #eeeeee;
        color: #151515;
    }
    a, a:hover{
        color:#151515; 
    }
    .t-navbar{
        background-color: #eeeeee00;
    }
    .t-navbaractive{
        background-color: #eeeeee;
        box-shadow:  2px 2px 8px #cccccc,
             -2px -2px 8px #ffffff;
    }
    .t-tesseract-glow{
        opacity: 0.6;
        background-size: 255%;
    }
    .t-cover h1{color: #151515}
    .t-cover h5, .t-cover h3{ color: #151515a0}
    .t-outer-cube div{
        opacity: 0.5;
        background-color: #2a9df4;
        box-shadow: 0 0 50px #03254c inset;
    }
    .t-inner-cube div{
        opacity: 0.5;
        background-color: #2a9df4;
        box-shadow: 0 0 50px #2e3192 inset;
    }
    .t-p-btn{
        border: 2px solid #03254c;
        background: #03254c;
        color: #ffffff;
    }
    .t-p-btn:hover{
        border: 2px solid #03254c;
        background: #03254c20;
        color: #03254c;
    }
    .t-s-btn{
        border: 2px solid #202020;
        background: #20202000;
        color: #202020;
    }
    .t-s-btn:hover{ background: #20202020;}
    .t-works-card-wrapper .t-card-content{box-shadow:-11px -11px 22px #ffffff,11px 11px 22px #cdcdcd;}
    .t-card-inactive{background: #ccc;}
    .t-card-inactive .t-card-content{box-shadow:  0px 10px 30px rgba(0,0,0,.3);}
    .t-stack{
        box-shadow:-4px -4px 12px #ffffff,
        4px 4px 12px #cdcdcd;
    }
    .t-about-text .t-stack{
        background-color: #eeeeee;
        box-shadow:-4px -4px 12px #ffffff,
        4px 4px 12px #cdcdcd;
    }
    h2{
        -webkit-text-stroke:2px #151515;
        -webkit-text-fill-color: #15151500;
    
    }
    .t-about-text a{color: #2f2f2f;}
    .t-about-text a:hover{color: #444;}
    .t-sketch{filter: drop-shadow(40px 40px 80px #0001);}
    .t-sketch:hover{filter: drop-shadow(40px 40px 80px #0002);}
    .t-sketch-bg{filter: drop-shadow(40px 40px 80px #0001);}
    .t-sketch-bg:hover{filter: drop-shadow(40px 40px 80px #0002);}
    .t-about-text p, .t-about-text h2, .t-about-text a{text-shadow: 2px 2px 6px #0002;}
    .t-input-wrap input, .t-input-wrap textarea{border: 1px solid #151515;}
    .t-input-wrap input:focus, .t-input-wrap textarea:focus{border: 1px solid #151515; outline: none;}
    .t-footer{
        background: #eee;
        color: #bbb;
        box-shadow:  6px 6px 13px #b3b3b3,
             -6px -6px 13px #ffffff;
    }
    .t-logo-light{display: block;}
    .t-logo-dark{display: none;}
}
 /* Responsive  */
@media only screen and (max-width: 992px){
    body{
        font-size: 0.8rem;
    }
    .t-cover h1{font-size: 52px;}
    .t-works-carousel{width: 2830px;}
    .t-works-card-wrapper{width: 680px;}
    .t-card-inactive{width: 500px; overflow: hidden; height: 180px;}
    .t-card-active .t-card-text{transform: translateZ(0);}
    .t-mockup-wrapper img{transform: translateZ(0);}
    .t-works-carousel, .t-works-carousel-wrapper{ height: unset;}
    .t-works-card-wrapper p{
        font-size: 13px;
    }
    .t-about-text{
        margin-right: 4vw;
        width: 60vh;
    }
    .t-image-container{left: 2vw;}
    .t-contact{
        max-width: 60vw;
    }
}
@media only screen and (max-width: 767px){
    .t-text{width: 100%;}
    .t-cover h1{font-size: 40px;}
    .t-cover h3{font-size: 22px;}
    .t-cover h5{font-size: 18px;}
    .t-works-carousel{width: 1750px;}
    .t-works-card-wrapper{width: 400px;}
    .t-works-carousel, .t-works-carousel-wrapper{ height:600px;}
    .t-card-inactive{width: 300px; overflow: hidden; height: 400px;}
    h2{font-size: 38px;}
    .t-about-text{
        margin-right: unset;
        width: 70vh;
    }
    .t-image-container{left: -30vw;}
    .t-contact{
        max-width: 80vw;
    }
}
@media only screen and (max-width: 575px){
    .t-works-card-wrapper{ width: 360px; }
    .t-works-card-wrapper .t-card-text{min-height: 300px;}
    .t-mockup-wrapper img{height:  180px; object-fit: contain;}
    .t-works-carousel{width: 1950px;}
    .t-works-carousel, .t-works-carousel-wrapper{ height:unset; min-height: 74vh;}
    .t-card-inactive{width: 360px; height: unset;}
    .t-card-inactive .t-card-text{min-height: unset;}
    h2{font-size: 28px;}
    .t-about-text{
        width: 70vw;
    }
    .t-image-container{
        top: 54%;
        left: -160px;
    }
    .t-sketch{
        width: 340px;
    }
    .t-sketch-bg{
        top: 20%;
        width: 420px;
        height: 420px;
    }
    .t-contact{
        max-width: 90vw;
    }
}
@media only screen and (max-width: 380px) {
    .t-works-card-wrapper{
        width: 300px;
        margin: 0 8px;
    }
    .t-card-inactive{width: 300px}
    .t-works-carousel{width: 1580px;}
    .t-works-card-wrapper .t-card-text{min-height: unset;}
    .t-works-carousel, .t-works-carousel-wrapper{ min-height: 80vh;}
}
